@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

._icon-play:before {
  content: "\e904";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #292d32;
  line-height: 1;
  font-family: "Rubik";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 1rem 1.25rem;
  background-color: #f4f4f4;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 31.25rem;
  height: 21.875rem;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  margin-left: auto;
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  z-index: 5;
}

.popup__close::before,
.popup__close::after {
  content: "";
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #292d32;
}

.popup__close::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__about {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.popup__about img {
  width: 1.25rem;
  height: auto;
}

.popup__text {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.item-info__list {
  list-style-type: none;
  counter-reset: item;
}

.item-info__list li:before {
  counter-increment: item;
  content: counter(item);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header._header-scroll {
  background-color: rgba(255, 255, 255, 0.3529411765);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(0.3125rem);
          backdrop-filter: blur(0.3125rem);
}

.header__container {
  min-height: 8.125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

._header-scroll .header__container {
  min-height: 4.375rem;
}

.header__logo {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-weight: 600;
}

.menu-open .header__logo {
  color: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body::before {
  content: "";
  top: 0;
  left: -100%;
  width: 100%;
  height: 6.25rem;
  position: fixed;
  background-color: #654545;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
  padding-bottom: 0.3125rem;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

.menu__item::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  height: 0.125rem;
  background-color: #292d32;
  right: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.menu__link {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 1.25rem;
}

.footer__head {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__rights {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 120%;
  /* 16.8px */
}

.footer__links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: right;
  line-height: 120%;
  /* 16.8px */
}

.footer__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.125rem;
     -moz-column-gap: 1.125rem;
          column-gap: 1.125rem;
}

.social-footer__link {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f35d5d;
  border-radius: 0.3125rem;
}

.social-footer__link:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(rgb(131, 58, 180)), color-stop(50%, rgb(253, 29, 29)), to(rgb(252, 176, 69)));
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
}

.social-footer__link:nth-child(3) {
  background-color: #33ccff;
}

.social-footer__link::before {
  font-size: 1rem;
  color: #fff;
}

.no-webp .products{
  background: url("../img/main/bg.png") 0 0/100% 100% no-repeat; }

.products__container:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.products__title {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  font-weight: 400;
  line-height: normal;
}

.products__title._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.products__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.products__descr {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  text-align: center;
  font-weight: 300;
  line-height: normal;
}

.products__descr._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.products__link {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.99s;
  transition: all 0.99s;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.products__link._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.products__link img {
  max-width: 100%;
}

.products__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__slide.swiper-slide-active .slide-product {
  max-width: 473px;
  width: 100%;
}

.products__slide .slide-product {
  border-radius: 1.5rem;
  background-color: #292d32;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
  max-width: 18.75rem;
  width: 100%;
  height: 474px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.products__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.products__dots .swiper-pagination-bullet {
  cursor: pointer;
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background-color: #292d32;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.products__dots .swiper-pagination-bullet-active {
  opacity: 1;
}

.update__title {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  font-weight: 400;
  line-height: normal;
}

.update__title._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.update__video-ibg {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
  padding-bottom: 56.4971751412%;
}

.update__video-ibg._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.update__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  z-index: 5;
  left: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.update__btn::before {
  -webkit-transform: translate(3px, 0px);
      -ms-transform: translate(3px, 0px);
          transform: translate(3px, 0px);
  color: #fff;
}

.info-block__container:not(:last-child) {
  margin-bottom: 2.5rem;
}

.info-block__title {
  text-align: center;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.info-block__title._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.info-block__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.info-block__presentation-ibg {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.info-block__presentation-ibg._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.info-block__phone {
  margin: 0 auto;
  position: relative;
  z-index: 5;
  -webkit-transform: translate(40px, -30px);
      -ms-transform: translate(40px, -30px);
          transform: translate(40px, -30px);
  width: 21.875rem;
  height: 36.875rem;
  border-radius: 1.5rem;
  background-color: #292d32;
}

.item-info__list {
  display: -ms-grid;
  display: grid;
  row-gap: 4.0625rem;
}

.item-info__block {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
}

.item-info__block._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.item-info__block:nth-child(2) {
  -webkit-transition-delay: all 0.75s;
          transition-delay: all 0.75s;
}

.item-info__block:nth-child(3) {
  -webkit-transition-delay: all 0.85s;
          transition-delay: all 0.85s;
}

.item-info__block:nth-child(4) {
  -webkit-transition-delay: all 1s;
          transition-delay: all 1s;
}

.item-info__block::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #71357c;
  border-radius: 0.9375rem;
  color: #fff;
  font-size: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.75rem;
          flex: 0 0 3.75rem;
}

.item-info__block:nth-child(2)::before {
  background-color: #95d0d5;
}

.item-info__block:nth-child(3)::before {
  background-color: #fd7e50;
}

.item-info__block:nth-child(4)::before {
  background-color: #f35d5d;
}

.item-info__title {
  color: #292d32;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
}

.item-info__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.item-info__descr {
  color: rgba(41, 45, 50, 0.8);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: normal;
}

.overview {
  padding-bottom: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}

.overview__title {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 400;
  line-height: normal;
}

.overview__title._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.overview__text {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 100px);
      -ms-transform: translate(0px, 100px);
          transform: translate(0px, 100px);
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
  color: rgba(41, 45, 50, 0.8);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: normal;
}

.overview__text._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.overview__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
}

.overview__btn::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  border: 0.0625rem solid #292d32;
  font-size: 0.4375rem;
  color: #292d32;
}

.overview__slide.swiper-slide-active .slide-overview {
  max-width: 18.75rem;
  width: 100%;
}

.overview__slide .slide-overview {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  height: 33.125rem;
  width: 100%;
  max-width: 39.0625rem;
  border-radius: 0.9375rem;
  background-color: #292d32;
}

.overview__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.overview__dots .swiper-pagination-bullet {
  cursor: pointer;
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background-color: #292d32;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overview__dots .swiper-pagination-bullet-active {
  opacity: 1;
}

.text-overview {
  overflow: hidden;
  max-height: 25.375rem;
}

.text-overview > *:not(:last-child) {
  margin-bottom: 2rem;
}

.no-webp .download{
  background: url("../img/download/bg.jpg") 0 0/100% 100% no-repeat; }

.download {
  padding-top: 2.8125rem;
}

.download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download__content {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-150px, 0px);
      -ms-transform: translate(-150px, 0px);
          transform: translate(-150px, 0px);
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
}

.download__content._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.download__title {
  font-weight: 400;
  line-height: normal;
}

.download__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.download__text {
  color: rgba(41, 45, 50, 0.8);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: normal;
}

.download__link {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(150px, 0px);
      -ms-transform: translate(150px, 0px);
          transform: translate(150px, 0px);
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
}

.download__link._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.download__link img {
  max-width: 100%;
}

.feedback {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.feedback__form {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
}

.feedback__form._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.feedback__form .button {
  padding: 0.875rem 2.6875rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  background-color: #f35d5d;
  width: 100%;
  margin-top: 1.875rem;
}

.feedback__title {
  font-weight: 400;
  line-height: normal;
}

.feedback__title_mod {
  display: none;
}

.feedback__row .form__error {
  color: red;
}

.feedback__row label,
.feedback__row .feedback__input {
  display: inline-block;
  color: rgba(13, 21, 44, 0.7);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.4375rem;
}

.feedback__row:not(:last-child) {
  margin-bottom: 1.5rem;
}

.feedback__row textarea {
  padding: 0.9375rem 1.25rem;
  max-width: 100%;
  min-height: 9.375rem;
  resize: vertical;
}

.feedback__input {
  color: rgba(0, 0, 0, 0.4);
}

._form-error .feedback__input {
  border: 0.0625rem solid red;
}

.feedback__header {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0px, 150px);
      -ms-transform: translate(0px, 150px);
          transform: translate(0px, 150px);
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
}

.feedback__header._watcher-view {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header-feedback:not(:last-child) {
  margin-bottom: 1.25rem;
}

.header-feedback__title {
  font-weight: 400;
  line-height: normal;
}

.header-feedback__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.header-feedback__text {
  color: rgba(41, 45, 50, 0.8);
  font-weight: 300;
  line-height: normal;
}

.header-feedback__image img {
  max-width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .feedback__form {
    max-width: 23.125rem;
  }
}

@media (min-width: 61.99875em) {
  .overview__text {
    max-width: 39.0625rem;
  }
}

@media (min-width: 81.875em) {
  .footer {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 2.625rem;
  }

  .products {
    padding-top: 10.8125rem;
  }

  .products {
    padding-bottom: 2.5rem;
  }

  .products__descr {
    font-size: 1.5rem;
  }

  .products__wrapper:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .update {
    padding-top: 7.8125rem;
  }

  .update {
    padding-bottom: 7.8125rem;
  }

  .update__title {
    font-size: 2.375rem;
  }

  .update__title:not(:last-child) {
    margin-bottom: 2.625rem;
  }

  .update__btn {
    width: 4.6875rem;
  }

  .update__btn {
    height: 4.6875rem;
  }

  .update__btn::before {
    font-size: 2.1875rem;
  }

  .overview__wrapper {
    margin-bottom: 2.8125rem;
  }

  .text-overview:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .download__container {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .download__title {
    font-size: 2.375rem;
  }

  .feedback {
    padding-top: 8.75rem;
  }

  .header-feedback__title {
    font-size: 2.375rem;
  }

  .header-feedback__text {
    font-size: 1.25rem;
  }
}

@media (min-width: 90em) {
  .header__logo {
    font-size: 2rem;
  }

  .menu__list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .products__title {
    font-size: 4.25rem;
  }

  .products__descr:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .info-block__title {
    font-size: 2.375rem;
  }

  .info-block__body {
    -webkit-column-gap: 7.5rem;
       -moz-column-gap: 7.5rem;
            column-gap: 7.5rem;
  }

  .overview {
    padding-top: 6.5625rem;
  }

  .overview__title {
    font-size: 2.375rem;
  }

  .overview__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .download {
    padding-bottom: 3.4375rem;
  }

  .feedback__title {
    font-size: 1.75rem;
  }

  .feedback__title:not(:last-child) {
    margin-bottom: 1.6875rem;
  }
}

@media (max-width: 62em) {
  .header__logo {
    font-size: 1.375rem;
  }

  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .products__title {
    font-size: 3rem;
  }

  .products__descr:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .info-block__title {
    font-size: 1.75rem;
  }

  .info-block__body {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .overview {
    padding-top: 5.625rem;
  }

  .overview__title {
    font-size: 1.75rem;
  }

  .overview__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .download {
    padding-bottom: 2.25rem;
  }

  .feedback__title {
    font-size: 1.5rem;
  }

  .feedback__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 71.875em) {
  .info-block__phone {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@media (max-width: 61.99875em) {
  .header__container {
    min-height: 6.25rem;
  }

  .menu__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background-color: #fff;
    padding: 12.5rem 0.9375rem 1.875rem 0.9375rem;
    row-gap: 3.125rem;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.5625rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #292d32;
  }

  .menu-open .icon-menu span,
  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .info-block__title {
    text-align: left;
  }

  .info-block__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .info-block__presentation-ibg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .item-info__descr {
    font-weight: 400;
    color: rgba(13, 21, 44, 0.8);
  }

  .overview {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .overview__text {
    font-weight: 400;
  }

  .overview__btn {
    color: #f35d5d;
  }

  .overview__btn::before {
    color: #f35d5d;
    border: 0.0625rem solid #f35d5d;
  }

  .overview__slider {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .overview__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .overview__slide.swiper-slide-active .slide-overview {
    max-width: 21.875rem;
  }

  .overview__slide .slide-overview {
    height: 18.75rem;
    width: 10.4375rem;
  }

  .text-overview__title {
    font-weight: 600;
  }

  .feedback__title {
    color: #0d152c;
    display: none;
  }

  .feedback__title_mod {
    display: block;
  }

  .header-feedback__title {
    color: #0d152c;
  }

  .header-feedback__text {
    color: rgba(13, 21, 44, 0.8);
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 61.99875em) and (max-width: 48em) {
  .info-block__presentation-ibg {
    padding-top: 3.125rem;
  }

  .info-block__presentation-ibg {
    padding-bottom: 1.5625rem;
  }
}

@media (max-width: 61.99875em) and (max-width: 23.4375em) {
  .overview {
    row-gap: 2.5rem;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    min-height: 4.375rem;
  }

  .menu__body::before {
    height: 4.375rem;
  }

  .footer__rights {
    font-weight: 400;
    color: #0d152c;
  }

  .footer__links {
    font-weight: 400;
    color: #0d152c;
  }

  .products__title {
    font-weight: 700;
  }

  .products__descr {
    font-weight: 500;
  }

  .products__slider {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .products__slide .slide-product {
    width: 20.3125rem;
    height: 20.3125rem;
  }

  .update__title {
    color: #0d152c;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .info-block__title {
    color: #0d152c;
    font-weight: 700;
  }

  .item-info__title {
    color: #0d152c;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .overview__title {
    color: #0d152c;
    font-weight: 700;
  }

  .overview__slide .slide-overview {
    background-color: #f35d5d;
  }

  .overview__dots .swiper-pagination-bullet {
    background-color: #cfcfcf;
  }

  .overview__dots .swiper-pagination-bullet-active {
    background-color: #f35d5d;
  }

  .download {
    padding-bottom: 3.125rem;
  }

  .download__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 3.75rem;
  }

  .download__title {
    text-align: center;
    color: #0d152c;
    font-weight: 500;
  }

  .download__text {
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem;
  }

  .feedback {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header-feedback__image {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .popup__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .popup__about img {
    width: 2.5rem;
  }

  .popup__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 23.4375em) {
  .footer {
    padding-top: 1.5625rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .products {
    padding-top: 9.5625rem;
  }

  .products {
    padding-bottom: 1.5625rem;
  }

  .products__descr {
    font-size: 1.25rem;
  }

  .products__wrapper:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .update {
    padding-top: 3.25rem;
  }

  .update {
    padding-bottom: 5.625rem;
  }

  .update__title {
    font-size: 1.75rem;
  }

  .update__title:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .update__btn {
    width: 3.4375rem;
  }

  .update__btn {
    height: 3.4375rem;
  }

  .update__btn::before {
    font-size: 1.6875rem;
  }

  .overview__wrapper {
    margin-bottom: 1.5625rem;
  }

  .text-overview:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .download__container {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .download__title {
    font-size: 1.75rem;
  }

  .feedback {
    padding-top: 4rem;
  }

  .header-feedback__title {
    font-size: 1.75rem;
  }

  .header-feedback__text {
    font-size: 1rem;
  }
}

@media (min-width: 62em) and (max-width: 90em) {
@supports (font-size: clamp( 1.375rem , -0.0089285714rem  +  2.2321428571vw , 2rem )) {
    .header__logo {
      font-size: clamp( 1.375rem , -0.0089285714rem  +  2.2321428571vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.375rem , -0.0089285714rem  +  2.2321428571vw , 2rem )) {
    .header__logo {
      font-size: calc(1.375rem + 0.625 * (100vw - 62rem) / 28);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , -2.2767857143rem  +  6.6964285714vw , 3.75rem )) or (column-gap: clamp( 1.875rem , -2.2767857143rem  +  6.6964285714vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.875rem , -2.2767857143rem  +  6.6964285714vw , 3.75rem );
         -moz-column-gap: clamp( 1.875rem , -2.2767857143rem  +  6.6964285714vw , 3.75rem );
              column-gap: clamp( 1.875rem , -2.2767857143rem  +  6.6964285714vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , -2.2767857143rem  +  6.6964285714vw , 3.75rem )) or (column-gap: clamp( 1.875rem , -2.2767857143rem  +  6.6964285714vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.875rem + 1.875 * (100vw - 62rem) / 28);
         -moz-column-gap: calc(1.875rem + 1.875 * (100vw - 62rem) / 28);
              column-gap: calc(1.875rem + 1.875 * (100vw - 62rem) / 28);
    }
}

@supports (font-size: clamp( 3rem , 0.2321428571rem  +  4.4642857143vw , 4.25rem )) {
    .products__title {
      font-size: clamp( 3rem , 0.2321428571rem  +  4.4642857143vw , 4.25rem );
    }
}

@supports not (font-size: clamp( 3rem , 0.2321428571rem  +  4.4642857143vw , 4.25rem )) {
    .products__title {
      font-size: calc(3rem + 1.25 * (100vw - 62rem) / 28);
    }
}

@supports (margin-bottom: clamp( 1.875rem , -0.2008928571rem  +  3.3482142857vw , 2.8125rem )) {
    .products__descr:not(:last-child) {
      margin-bottom: clamp( 1.875rem , -0.2008928571rem  +  3.3482142857vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , -0.2008928571rem  +  3.3482142857vw , 2.8125rem )) {
    .products__descr:not(:last-child) {
      margin-bottom: calc(1.875rem + 0.9375 * (100vw - 62rem) / 28);
    }
}

@supports (font-size: clamp( 1.75rem , 0.3660714286rem  +  2.2321428571vw , 2.375rem )) {
    .info-block__title {
      font-size: clamp( 1.75rem , 0.3660714286rem  +  2.2321428571vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.3660714286rem  +  2.2321428571vw , 2.375rem )) {
    .info-block__title {
      font-size: calc(1.75rem + 0.625 * (100vw - 62rem) / 28);
    }
}

@supports ((-moz-column-gap: clamp( 3.125rem , -6.5625rem  +  15.625vw , 7.5rem )) or (column-gap: clamp( 3.125rem , -6.5625rem  +  15.625vw , 7.5rem ))) {
    .info-block__body {
      -webkit-column-gap: clamp( 3.125rem , -6.5625rem  +  15.625vw , 7.5rem );
         -moz-column-gap: clamp( 3.125rem , -6.5625rem  +  15.625vw , 7.5rem );
              column-gap: clamp( 3.125rem , -6.5625rem  +  15.625vw , 7.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , -6.5625rem  +  15.625vw , 7.5rem )) or (column-gap: clamp( 3.125rem , -6.5625rem  +  15.625vw , 7.5rem ))) {
    .info-block__body {
      -webkit-column-gap: calc(3.125rem + 4.375 * (100vw - 62rem) / 28);
         -moz-column-gap: calc(3.125rem + 4.375 * (100vw - 62rem) / 28);
              column-gap: calc(3.125rem + 4.375 * (100vw - 62rem) / 28);
    }
}

@supports (padding-top: clamp( 5.625rem , 3.5491071429rem  +  3.3482142857vw , 6.5625rem )) {
    .overview {
      padding-top: clamp( 5.625rem , 3.5491071429rem  +  3.3482142857vw , 6.5625rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 3.5491071429rem  +  3.3482142857vw , 6.5625rem )) {
    .overview {
      padding-top: calc(5.625rem + 0.9375 * (100vw - 62rem) / 28);
    }
}

@supports (font-size: clamp( 1.75rem , 0.3660714286rem  +  2.2321428571vw , 2.375rem )) {
    .overview__title {
      font-size: clamp( 1.75rem , 0.3660714286rem  +  2.2321428571vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.3660714286rem  +  2.2321428571vw , 2.375rem )) {
    .overview__title {
      font-size: calc(1.75rem + 0.625 * (100vw - 62rem) / 28);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -2.2098214286rem  +  5.5803571429vw , 2.8125rem )) {
    .overview__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -2.2098214286rem  +  5.5803571429vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -2.2098214286rem  +  5.5803571429vw , 2.8125rem )) {
    .overview__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.5625 * (100vw - 62rem) / 28);
    }
}

@supports (padding-bottom: clamp( 2.25rem , -0.3794642857rem  +  4.2410714286vw , 3.4375rem )) {
    .download {
      padding-bottom: clamp( 2.25rem , -0.3794642857rem  +  4.2410714286vw , 3.4375rem );
    }
}

@supports not (padding-bottom: clamp( 2.25rem , -0.3794642857rem  +  4.2410714286vw , 3.4375rem )) {
    .download {
      padding-bottom: calc(2.25rem + 1.1875 * (100vw - 62rem) / 28);
    }
}

@supports (font-size: clamp( 1.5rem , 0.9464285714rem  +  0.8928571429vw , 1.75rem )) {
    .feedback__title {
      font-size: clamp( 1.5rem , 0.9464285714rem  +  0.8928571429vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.9464285714rem  +  0.8928571429vw , 1.75rem )) {
    .feedback__title {
      font-size: calc(1.5rem + 0.25 * (100vw - 62rem) / 28);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.28125rem  +  1.5625vw , 1.6875rem )) {
    .feedback__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.28125rem  +  1.5625vw , 1.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.28125rem  +  1.5625vw , 1.6875rem )) {
    .feedback__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.4375 * (100vw - 62rem) / 28);
    }
}
}

@media (min-width: 23.4375em) and (max-width: 81.875em) {
@supports (padding-top: clamp( 1.5625rem , 1.1864973262rem  +  1.6042780749vw , 2.5rem )) {
    .footer {
      padding-top: clamp( 1.5625rem , 1.1864973262rem  +  1.6042780749vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.1864973262rem  +  1.6042780749vw , 2.5rem )) {
    .footer {
      padding-top: calc(1.5625rem + 0.9375 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6985294118rem  +  2.3529411765vw , 2.625rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 0.6985294118rem  +  2.3529411765vw , 2.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6985294118rem  +  2.3529411765vw , 2.625rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 1.375 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (padding-top: clamp( 9.5625rem , 9.0611631016rem  +  2.1390374332vw , 10.8125rem )) {
    .products {
      padding-top: clamp( 9.5625rem , 9.0611631016rem  +  2.1390374332vw , 10.8125rem );
    }
}

@supports not (padding-top: clamp( 9.5625rem , 9.0611631016rem  +  2.1390374332vw , 10.8125rem )) {
    .products {
      padding-top: calc(9.5625rem + 1.25 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.1864973262rem  +  1.6042780749vw , 2.5rem )) {
    .products {
      padding-bottom: clamp( 1.5625rem , 1.1864973262rem  +  1.6042780749vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.1864973262rem  +  1.6042780749vw , 2.5rem )) {
    .products {
      padding-bottom: calc(1.5625rem + 0.9375 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1497326203rem  +  0.4278074866vw , 1.5rem )) {
    .products__descr {
      font-size: clamp( 1.25rem , 1.1497326203rem  +  0.4278074866vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1497326203rem  +  0.4278074866vw , 1.5rem )) {
    .products__descr {
      font-size: calc(1.25rem + 0.25 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (margin-bottom: clamp( 0.75rem , 0.5494652406rem  +  0.8556149733vw , 1.25rem )) {
    .products__wrapper:not(:last-child) {
      margin-bottom: clamp( 0.75rem , 0.5494652406rem  +  0.8556149733vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.5494652406rem  +  0.8556149733vw , 1.25rem )) {
    .products__wrapper:not(:last-child) {
      margin-bottom: calc(0.75rem + 0.5 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (padding-top: clamp( 3.25rem , 1.4201203209rem  +  7.807486631vw , 7.8125rem )) {
    .update {
      padding-top: clamp( 3.25rem , 1.4201203209rem  +  7.807486631vw , 7.8125rem );
    }
}

@supports not (padding-top: clamp( 3.25rem , 1.4201203209rem  +  7.807486631vw , 7.8125rem )) {
    .update {
      padding-top: calc(3.25rem + 4.5625 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (padding-bottom: clamp( 5.625rem , 4.7476604278rem  +  3.743315508vw , 7.8125rem )) {
    .update {
      padding-bottom: clamp( 5.625rem , 4.7476604278rem  +  3.743315508vw , 7.8125rem );
    }
}

@supports not (padding-bottom: clamp( 5.625rem , 4.7476604278rem  +  3.743315508vw , 7.8125rem )) {
    .update {
      padding-bottom: calc(5.625rem + 2.1875 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (font-size: clamp( 1.75rem , 1.4993315508rem  +  1.0695187166vw , 2.375rem )) {
    .update__title {
      font-size: clamp( 1.75rem , 1.4993315508rem  +  1.0695187166vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.4993315508rem  +  1.0695187166vw , 2.375rem )) {
    .update__title {
      font-size: calc(1.75rem + 0.625 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 0.8736631016rem  +  2.1390374332vw , 2.625rem )) {
    .update__title:not(:last-child) {
      margin-bottom: clamp( 1.375rem , 0.8736631016rem  +  2.1390374332vw , 2.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 0.8736631016rem  +  2.1390374332vw , 2.625rem )) {
    .update__title:not(:last-child) {
      margin-bottom: calc(1.375rem + 1.25 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (width: clamp( 3.4375rem , 2.9361631016rem  +  2.1390374332vw , 4.6875rem )) {
    .update__btn {
      width: clamp( 3.4375rem , 2.9361631016rem  +  2.1390374332vw , 4.6875rem );
    }
}

@supports not (width: clamp( 3.4375rem , 2.9361631016rem  +  2.1390374332vw , 4.6875rem )) {
    .update__btn {
      width: calc(3.4375rem + 1.25 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (height: clamp( 3.4375rem , 2.9361631016rem  +  2.1390374332vw , 4.6875rem )) {
    .update__btn {
      height: clamp( 3.4375rem , 2.9361631016rem  +  2.1390374332vw , 4.6875rem );
    }
}

@supports not (height: clamp( 3.4375rem , 2.9361631016rem  +  2.1390374332vw , 4.6875rem )) {
    .update__btn {
      height: calc(3.4375rem + 1.25 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (font-size: clamp( 1.6875rem , 1.4869652406rem  +  0.8556149733vw , 2.1875rem )) {
    .update__btn::before {
      font-size: clamp( 1.6875rem , 1.4869652406rem  +  0.8556149733vw , 2.1875rem );
    }
}

@supports not (font-size: clamp( 1.6875rem , 1.4869652406rem  +  0.8556149733vw , 2.1875rem )) {
    .update__btn::before {
      font-size: calc(1.6875rem + 0.5 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.0611631016rem  +  2.1390374332vw , 2.8125rem )) {
    .overview__wrapper {
      margin-bottom: clamp( 1.5625rem , 1.0611631016rem  +  2.1390374332vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.0611631016rem  +  2.1390374332vw , 2.8125rem )) {
    .overview__wrapper {
      margin-bottom: calc(1.5625rem + 1.25 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5614973262rem  +  1.6042780749vw , 1.875rem )) {
    .text-overview:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.5614973262rem  +  1.6042780749vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5614973262rem  +  1.6042780749vw , 1.875rem )) {
    .text-overview:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports ((-moz-column-gap: clamp( 2.5rem , 1.4973262032rem  +  4.2780748663vw , 5rem )) or (column-gap: clamp( 2.5rem , 1.4973262032rem  +  4.2780748663vw , 5rem ))) {
    .download__container {
      -webkit-column-gap: clamp( 2.5rem , 1.4973262032rem  +  4.2780748663vw , 5rem );
         -moz-column-gap: clamp( 2.5rem , 1.4973262032rem  +  4.2780748663vw , 5rem );
              column-gap: clamp( 2.5rem , 1.4973262032rem  +  4.2780748663vw , 5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , 1.4973262032rem  +  4.2780748663vw , 5rem )) or (column-gap: clamp( 2.5rem , 1.4973262032rem  +  4.2780748663vw , 5rem ))) {
    .download__container {
      -webkit-column-gap: calc(2.5rem + 2.5 * (100vw - 23.4375rem) / 58.4375);
         -moz-column-gap: calc(2.5rem + 2.5 * (100vw - 23.4375rem) / 58.4375);
              column-gap: calc(2.5rem + 2.5 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (font-size: clamp( 1.75rem , 1.4993315508rem  +  1.0695187166vw , 2.375rem )) {
    .download__title {
      font-size: clamp( 1.75rem , 1.4993315508rem  +  1.0695187166vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.4993315508rem  +  1.0695187166vw , 2.375rem )) {
    .download__title {
      font-size: calc(1.75rem + 0.625 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (padding-top: clamp( 4rem , 2.0949197861rem  +  8.128342246vw , 8.75rem )) {
    .feedback {
      padding-top: clamp( 4rem , 2.0949197861rem  +  8.128342246vw , 8.75rem );
    }
}

@supports not (padding-top: clamp( 4rem , 2.0949197861rem  +  8.128342246vw , 8.75rem )) {
    .feedback {
      padding-top: calc(4rem + 4.75 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (font-size: clamp( 1.75rem , 1.4993315508rem  +  1.0695187166vw , 2.375rem )) {
    .header-feedback__title {
      font-size: clamp( 1.75rem , 1.4993315508rem  +  1.0695187166vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.4993315508rem  +  1.0695187166vw , 2.375rem )) {
    .header-feedback__title {
      font-size: calc(1.75rem + 0.625 * (100vw - 23.4375rem) / 58.4375);
    }
}

@supports (font-size: clamp( 1rem , 0.8997326203rem  +  0.4278074866vw , 1.25rem )) {
    .header-feedback__text {
      font-size: clamp( 1rem , 0.8997326203rem  +  0.4278074866vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8997326203rem  +  0.4278074866vw , 1.25rem )) {
    .header-feedback__text {
      font-size: calc(1rem + 0.25 * (100vw - 23.4375rem) / 58.4375);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 47.99875em) {
  .update__btn {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .update__btn::before {
    color: #292d32;
  }

  .info-block__container:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 62em) {
  .info-block__presentation-ibg {
    padding-top: 4.375rem;
  }

  .info-block__presentation-ibg {
    padding-bottom: 2.1875rem;
  }

  .overview {
    row-gap: 3.125rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 48em) and (max-width: 62em) {
@supports (padding-top: clamp( 3.125rem , -1.1607142857rem  +  8.9285714286vw , 4.375rem )) {
    .info-block__presentation-ibg {
      padding-top: clamp( 3.125rem , -1.1607142857rem  +  8.9285714286vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , -1.1607142857rem  +  8.9285714286vw , 4.375rem )) {
    .info-block__presentation-ibg {
      padding-top: calc(3.125rem + 1.25 * (100vw - 48rem) / 14);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.5803571429rem  +  4.4642857143vw , 2.1875rem )) {
    .info-block__presentation-ibg {
      padding-bottom: clamp( 1.5625rem , -0.5803571429rem  +  4.4642857143vw , 2.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , -0.5803571429rem  +  4.4642857143vw , 2.1875rem )) {
    .info-block__presentation-ibg {
      padding-bottom: calc(1.5625rem + 0.625 * (100vw - 48rem) / 14);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 23.4375em) and (max-width: 62em) {
@supports (row-gap: clamp( 2.5rem , 2.1201377634rem  +  1.6207455429vw , 3.125rem )) {
    .overview {
      row-gap: clamp( 2.5rem , 2.1201377634rem  +  1.6207455429vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 2.5rem , 2.1201377634rem  +  1.6207455429vw , 3.125rem )) {
    .overview {
      row-gap: calc(2.5rem + 0.625 * (100vw - 23.4375rem) / 38.5625);
    }
}
}

@media (any-hover: none) {
  .popup__close {
    cursor: default;
  }
}

@media (any-hover: hover) {
  .menu__item:hover::before {
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .update__btn:hover {
    background-color: rgba(65, 62, 62, 0.5);
  }
}

.webp .products{ background: url(../img/main/bg.webp) 0 0/100% 100% no-repeat; }

.webp .download{ background: url(../img/download/bg.webp) 0 0/100% 100% no-repeat; }